nba_api==1.5.2
pandas==2.2.3
fastapi==0.115.12
uvicorn[standard]==0.34.2
streamlit==1.45.1
requests==2.32.3
scikit-learn==1.6.1
xgboost==2.1.4
catboost==1.2.7
lightgbm==4.6.0
joblib==1.4.2
numpy==1.26.4
pyarrow==19.0.1
scipy==1.15.2
ruff==0.11.6
pytest==8.3.5
